@model IEnumerable<AssignmentWCD.Models.Product>
@{
    ViewBag.Title = "List";
}

<h2>Product List</h2>   


@using (Ajax.BeginForm("FindProductByNameAndCategory", "Products",
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "Get",
                    OnFailure = "failed",
                    LoadingElementId = "ajax-loader",
                    UpdateTargetId = "results",
                }))

{
    <div style="margin-bottom:10px">
        Find by category:
        <select name="categoryId" id="categoryId">
            <option value="">All category</option>
            @foreach (var category in ViewBag.ListCategory)
            {
                <option value=@category.Id>@category.Name</option>
            }
        </select>
        <input type="submit" value="Search" id="findCategory" style="display:none" />
    </div>
    <p>
        Find by name: @Html.TextBox("SearchName")
        <input type="submit" value="Search" class="btn btn-primary" id="btnSubmit" />
    </p>
}

<div class="container">
    <div class="row" id="results">
        @foreach (var x in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="@x.Thumbnail">
                    <div class="caption">
                        <h3>@x.Name</h3>
                        <p><b>Price: </b> @x.Price đ</p>
                        <p><b>Category: </b> @x.Category.Name</p>
                        <p><b>Id: </b> @x.Id</p>
                        <p>
                            @Html.ActionLink("Add to cart", "AddToCart", "Carts", new { ProductId = @x.Id, ProductName = x.Name, ProductThumbnail = x.Thumbnail, UnitPrice = x.Price }, new { @class = "btn btn-primary" })

                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
